.contentslider {
  border-top: solid 1px #efece1;
  padding-top: 30px;
  padding-bottom: 30px;
}
.ja-contentslider {
  height: 200px;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100% !important;
}
#ja-contentsliderwrap div.moduletable {
  margin: 0;
  padding: 0 !important;
}
.ja-contentslider-center {
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 992px) {
  .ja-contentslider-center {
    width: 100% !important;
  }
}
.ja-contentslider-center span {
  width: 140px;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}
.ja-contentslider-center div.jsslide {
  text-align: center;
}
.ja-contentslider-center .content a {
  background: #ffffff;
  border: solid 1px #efece1;
  display: inline-block;
  margin-bottom: 5px;
  padding: 6px;
}
.ja-contentslider-center .content a:hover,
.ja-contentslider-center .content a:focus,
.ja-contentslider-center .content a:active {
  border-color: #cccccc;
}
.ja-contentslider-center img {
  margin: 0;
  height: auto;
}
.ja-contentslider-center .ja_slidetitle a {
  font-size: 15px;
  font-weight: normal;
}
div.ja_slidetitle {
  text-align: center;
}
div.ja_slidetitle a {
  font-weight: bold;
}
div.ja_slideimages {
  margin: 0;
}
.ja-contentslider-center-wrap {
  margin-left: -10px;
  margin-right: -10px;
}
@media screen and (max-width: 992px) {
  .ja-contentslider-center-wrap {
    overflow: hidden;
    width: 100% !important;
  }
}
div.ja-slidereadmore {
  margin: 10px 0 0;
}
div.ja-slidereadmore a {
  background: none;
  color: #666666;
}
div.ja-slidereadmore a:hover,
div.ja-slidereadmore a:focus,
div.ja-slidereadmore a:active {
  background: none;
  color: #dd805b;
}
.ja-button-control {
  margin: 5px 0 20px;
  position: relative;
}
.ja-button-control .ja-text-heading {
  font-weight: bold;
  padding: 2px 5px;
  float: left;
}
.ja-button-control a {
  background: #ffffff;
  border: 1px solid #efece1;
  display: block;
  float: left;
  line-height: 20px;
  margin-right: 5px;
  margin-top: 2px;
  padding: 0 5px;
}
.ja-button-control a:hover,
.ja-button-control a:focus,
.ja-button-control a:active {
  text-decoration: none;
  color: #ffffff;
  background: #dd805b;
  border: 1px solid #dd805b;
}
.ja-button-control a.active {
  text-decoration: none;
  color: #ffffff;
  background: #dd805b;
  border: 1px solid #dd805b;
}
.ja-button-control strong {
  font-size: 110%;
  padding-left: 20px;
  line-height: 27px;
  display: block;
  float: left;
}
.ja-contentslider-left,
.ja-contentslider-right {
  background: url("../../../images/btn-control.png") no-repeat right top;
  position: absolute;
  height: 17px;
  right: 10px;
  top: -25px;
  width: 17px;
}
.ja-contentslider-left:hover,
.ja-contentslider-right:hover {
  background-position: right bottom;
  cursor: pointer;
}
.ja-contentslider-left {
  background-position: left top;
  right: 34px;
}
.ja-contentslider-left:hover {
  background-position: left bottom ;
}
.ie8 .ja-contentslider-center img {
  max-width: none !important;
}